.digital-sceen-main {
  background-color: #000;
}

body.page-digital-screen.page-digital  {
  padding-top: 0px !important;
}

.digital-sceen-carousel h2 {
	color: #fff;
}

.digital-screen-object-cover {
	position: relative;
}

.ding-carousel-item .digital-screen-qr-image {
	position: absolute;
	top: 80%;
	left: 60%;
  width: 25%;
}


/* Digital screen objects page */

.digital-screen-object-page {
  background-color: #000;
  display: flex; 
  padding: 30px;
  color: #fff;
}

.digital-screen-object {
  width: 92%
}

.digital-screen-object-container {
  display: flex; 
}

.digital-screen-object-page-cover {
	width: 40%;
}

.digital-screen-object-carousel .ding-carousel .slick-slider {
  min-height: 150px;
}

.digital-screen-object-page  .digital-screen-object-cover a img {
  height: 145px !important;
  width: 100px !important;
}

.digital-screen-object-page  .ding-carousel .slick-slider .slick-track .slick-slide {
  width: 145px;
}




.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;

  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  
  border: none;
  border-radius: 100%;
  background-color: orange;
  
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: red;
}

